$gray-600: #54595F;

$red: #F80000;
$cyan: #6EC1E4;
$teal: #61CE70;

$font-family-sans-serif: "Montsserat", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";