$gray-600: #54595F;
$gray-900: #181408;

$red: #F80000;
$blue: #16afe4;
$cyan: #6EC1E4;
$teal: #61CE70;

$font-family-sans-serif: "Montserrat", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$navbar-light-color: $gray-900;
$navbar-light-hover-color: $red;
$navbar-light-active-color: $red;

$navbar-link-font-size: 1.25rem;
$navbar-link-font-weight: 700;