figure.content-img {
    width: 100%;
}
.content-text {
    flex: 1 1 20rem;
    word-break: break-word;
    overflow-wrap: break-word;
}
.partners {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: space-around;
    align-items: center;
    background-color: $gray-300;

    img {
        max-width: 15rem;
        max-height: 9rem;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 9rem;

        span {
            display: none;
        }
    }
}
@include media-breakpoint-up(md) {
    .partners {
        padding: 6rem;
    }
    .articles {
        article:nth-child(2n) {
            figure.content-img {
                order: 3;
            }
            .content-text {
                order: 2;
            }
        }
    }
    figure.content-img {
        min-width: 33%;
        max-width: 50%; 
    }
}