<nav class="navbar navbar-expand-lg py-5">
    <div class="w-100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Відкрити/сховати меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column gap-3" id="mainNav">
            <div class="d-flex gap-5 w-100 justify-content-between">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo-uk.png" alt="Штаб порятунку спадщини">
                </a>
                <a class="partner" href="https://www.maidanmuseum.org/" target="_blank">
                    <img src="/img/rdm-logo-uk.png" alt="Національний меморіальний комплекс Героїв небесної сотні — музей революції гідності">
                </a>
                <a class="partner" href="https://tustan.ua/" target="_blank">
                    <img src="/img/tustan-logo.png" alt="Тустань">
                </a>
                <a class="partner" href="#" target="_blank">
                    <img src="/img/acure-logo.png" alt="Acure">
                </a>
            </div>
            <div class="d-flex flex-column flex-lg-row flex-wrap gap-3 align-items-center">
                <ul class="navbar-nav me-auto text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#">Що ми робимо</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#">Партнери</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" href="#">Новини</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap text-info" href="#">Підтримати</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto gap-1 locales align-items-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Укр</a>
                    </li>
                    <li>|</li>
                    <li class="nav-item">
                        <a href="/en/" class="nav-link">Eng</a>
                    </li>
                </ul>
                <form class="d-flex m-0" role="search">
                    <input class="form-control d-lg-none me-2" type="search" placeholder="Контакти штабу" aria-label="Пошук по сайту">
                    <button class="btn btn-outline-success" type="submit">
                        <span class="icon-search"></span>
                        <span class="d-none">Шукати</span>
                    </button>
                </form>
                <div class="hotline">
                    <h3 class="fs-5 text-uppercase">
                        <b class="text-nowrap">Гаряча лінія:</b>
                        <a href="tel:+380670676767" class="text-nowrap"><b>067-067-67-67</b></a>
                    </h3>
                    <p class="fs-7 m-0">консультації, допомога, інформування про надзвичайну подію</p>
                </div>
            </div>
        </div>
    </div>
</nav>