.navbar {
    .navbar-brand {
        flex-grow: 1;
        img {
            max-height: 9rem;
        }
    }
    .navbar-nav {
        .nav-link {
            font-size: $navbar-link-font-size;
            font-weight: $navbar-link-font-weight;

            &:hover, &.text-info:hover {
                color: $navbar-light-hover-color !important;
            }
            &:active, .active, &.text-info:active {
                color: $navbar-light-active-color !important;
            }
        }
    }
    a.partner {
        img {
            max-height: 4rem;
        }
    }
    .hotline {
        flex: 1 1 15rem;
        padding: .5rem;
        text-align: center;
        border: 2px solid $primary;
        background-color: rgba($primary, 0.3);
    }
    .locales {
        .nav-link {
            font-size: 1rem;
            font-weight: normal;

            &:hover, &.text-info:hover {
                color: $navbar-light-hover-color !important;
            }
            &:active, &.text-info:active {
                color: $navbar-light-active-color !important;
            }
            &.active {
                color: $yellow !important;
            }
        }
    }
}